h1{
  color: rgb(51,51,51);
}

body{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc_bx6ayWTjWRSZelN8klJ7PjXfRae8eIuSA&s');
}

a{
  text-decoration: none;
  color: rgb(0,0,0);
  font-size: 100px;
}


